.detail img {
    width: 100%;
    object-fit: cover;
}
.detail {
    padding-top: 100px;
}
.detail .title-detail {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}
.detail .description {
    color: #fff;
    line-height: 1.5;
    font-size: 15px;
}
.detail button {
    padding: 8px 25px;
    border-radius: 23px;
    border: 1px solid #ddd;
}