* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #373B69;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header form {
    margin-right: 20px;
}
header form input {
    border-radius: 25px;
    height: 44px;
    padding: 0 10px;
    border: 2px solid #22254b;
    background-color: transparent;
    min-width: 200px;
    font-size: 15px;
    color: #fff;
}
header form input:focus {
    outline: none;
    background-color: #22254b;
}



/* style card */
.main {
    padding-top: 20px;
    background-color: #22254b;
}
.main .card {
    border: none;
    background-color: #373B69;
    position: relative;
    overflow: hidden; /*loại bỏ hế phần dư thừa*/
}
.main .card img {
    height: 420px;
    object-fit: cover;
}
.main .card-body {
    display: flex;
    justify-content: space-between;
}
.main .card-body .card-title {
    color: #fff;
}
.main .card-body .rate {
    background-color: #22254b;
    padding: 5px 10px;
    color: green;
}
.overviews {
    position: absolute;
    background-color: #fff;
    padding: 25px;
    /* bottom: 0; */
    bottom: -500px;
    transition: 0.3s ease-in;
}
.overviews p {
    text-align: justify;
}
.card:hover .overviews {
    bottom: 0;
}